body {
    padding: 0;
    margin: 0;
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.move-div-right {
    animation-name: move-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.move-div-left {
    animation-name: move-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.in-left {
    animation-name: in-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.in-right {
    animation-name: in-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.scale-up-div {
    animation-name: scale-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.scale-in-div {
    animation-name: scale-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.move-div-top {
    animation-name: move-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nav-bar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    background-color: rgb(7, 186, 186);
}

.right-nav {
    margin-right: 50px;
    align-self: center;
}

.right-nav>a {
    font-family: myFirstFont;
    margin-left: 15px;
    font-size: large;
    align-self: center;
    color: rgb(1, 1, 1);
    text-decoration: none;
}

.left-nav {
    margin-left: 50px;
    font-family: myFirstFont;
    align-self: center;
}

#logo {
    float: left;
    height: 45px;
    margin-top: 24px;
}

#title {
    padding-left: 20px;
    float: right;
    font-family: myFirstFont;
    font-size: 2rem;
}

.main-window {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.left-window {
    margin-top: 80px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.right-window {
    margin-top: 80px;
    flex-direction: column;
    width: 50%;
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: center;
}

.reg-form {
    display: none;
    margin-top: 60px;
    width: 50%;
    height: 100%;
    justify-content: center;
}

#join-title {
    font-family: myFirstFont;
    color: white;
    font-size: 3rem;
}

.computer-side {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#computer {
    float: left;
    width: 350px;
}

#join-info {
    margin-top: 70px;
    color: white;
    font-size: 1rem;
}

#join-btn {
    position: relative;
    top: 20px;
    width: 240px;
    background-color: rgb(7, 186, 186);
    height: 50px;
}

.form-border {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 0.5vh solid aqua;
    border-radius: 3vh;
    height: 460px;
    width: 350px;
}

.form-border div i {
    color: black;
    position: absolute;
    padding: 4px 20px;
    min-width: 40px;
    margin-left: 200px;
}

.form-title {
    color: aqua;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-family: myFirstFont;
    font-size: 3rem;
}

.form-fields {
    width: 230px;
    align-self: center;
    align-content: center;
    color: black;
    transition: 0.1s linear;
}

.form-fields:hover {
    border-color: aqua;
    transition: 0.1s linear;
}

.form-fields:focus {
    border-color: aqua;
    outline: none;
    width: 240px;
    transition: 0.1s linear;
}

input::placeholder {
    font-family: "pt-sans", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-left: 10px;
}

.form-labels {
    font-family: myFirstFont;
    align-self: center;
    align-content: center;
    color: white;
}

.entry-1 {
    margin-bottom: 40px;
    align-self: center;
}

.entry-2 {
    align-self: center;
}

.help-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#remember-pass,
.help-info label {
    color: white;
}

#remember-pass label input[type=checkbox],
.help-info label input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    height: 20px;
    bottom: 1px;
    right: 4px;
    accent-color: aqua;
}

#forget-pass a,
#agreement label a {
    text-decoration: none;
    color: aqua;
}

#btn-block {
    align-self: center;
    margin-top: 30px;
}

#login-btn,
#join-btn {
    font-family: "pt-sans", sans-serif;
    font-weight: 800;
    font-size: small;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid rgb(124, 248, 248);
    background-color: transparent;
    color: rgb(124, 248, 248);
    transition: all 0.3s;
}

#join-btn {
    background-color: aqua;
    color: black;
}

#login-btn:hover {
    border: 3px solid aqua;
    background-color: aqua;
    color: black;
}

#join-btn:hover {
    border-color: rgb(255, 255, 255);
}

#login-btn:active,
#join-btn:active {
    letter-spacing: 0.2em;
}

#welcome-msg {
    align-self: center;
    color: white;
    font-family: myFirstFont;
    font-size: 1.5rem;
    margin: 30px 0;
}

#line-break hr {
    margin-top: 30px;
    color: white;
}

.ny-account-info {
    margin-top: 20px;
    align-self: center;
}

.ny-account-info label {
    color: white;
}

.ny-account-info a {
    color: aqua;
    text-decoration: none;
}

.ny-account-info a:hover,
#forget-pass a:hover,
#agreement label a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: myFirstFont;
    src: url(Lato-Bold.ttf);
}

@keyframes move-right {

    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(100%);
    }
}

@keyframes move-left {

    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-100%);
    }
}

@keyframes in-left {

    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes in-right {

    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes move-top {

    0% {
        transform: translate(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes scale-up {

    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scale-in {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 900px) {
    .main-window {
        flex-direction: column;
    }

    .left-window,
    .right-window {
        align-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 735px) {
    .nav-bar a {
        display: none;
    }

    .computer-side {
        flex-direction: column;
    }
}

@media screen and (max-width: 465px) {

    .nav-bar {
        display: none;
    }

    #computer {
        width: 200px;
    }
}
